name: Docker Build and Push

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Harbor CA certificate
        run: |
          sudo mkdir -p /usr/local/share/ca-certificates
          sudo cp .certs/harbor.crt /usr/local/share/ca-certificates/harbor.crt
          sudo update-ca-certificates

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.HARBOR_URL }}
          username: ${{ secrets.HARBOR_LOGIN }}
          password: ${{ secrets.HARBOR_TOKEN }}

      - name: Extract tag name
        id: extract_tag
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "Extracted tag: $TAG_NAME"

      - name: Build and push image
        id: build_and_push_image
        run: |
          docker build -t ${{ secrets.HARBOR_URL }}/nw-tg-bot/nw-tg-bot:${{ env.TAG_NAME }} .
          docker push ${{ secrets.HARBOR_URL }}/nw-tg-bot/nw-tg-bot:${{ env.TAG_NAME }}
          
          IMAGE_TAG=${{ github.ref_name }}-github-actions-${{ github.run_number }}
          echo "image_name=${IMAGE_TAG}" >> "GITHUB_STEP_SUMMARY"

      - name: Output image tag for people
        run: |
          echo "### New Docker Image Tag" >> $GITHUB_STEP_SUMMARY
          echo "New image pushed to Harbor with tag: **${{ env.TAG_NAME }}**" >> $GITHUB_STEP_SUMMARY
          echo "Image pushed to Harbor with tag: ${{ env.TAG_NAME }}"
